body {
  text-align: center;
  background-color: rgb(235, 235, 235);
  color: rgb(104, 0, 95);
}

div {
  border: 2px solid rgb(104, 0, 95);
  margin: 10px;
  color: white;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.8);
}

canvas {
  border: 3px solid black;
}

#canvas_terrain {
  width: 10%;
  height: auto;
}
